footer{
    display: flex;
    flex-direction: column;
    align-items: center;

}
button{
    margin-top: 3vh;
    margin-bottom: 5vh;
}
.signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}