header {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
}

.app-h1 {
  font-weight: 100;
  margin-left: 1.5vw;
  font-size: 18px;
  width: 50%;
  
}

#first {
    color: rgb(221, 3, 3);
}

#last {
    color:rgb(232, 178, 3);
}

.flexBody {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  height: 55px;
}

header a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

header a:hover {
  color: rgb(221, 3, 3);
}

.loginLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.login-nav, .signup-nav, .logout-nav {
  font-size: 14px;
}
.login-nav, .signup-nav{
  margin-right: 12px;
}

.link-logout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 200px;
  color: white;
  font-size: 14px;
  margin-right: 10px;
}

.div-span {
    color:rgb(232, 178, 3);
    margin-right: 20px;
}


@media only screen and (min-width: 500px) {
  .app-h1 {
    font-size: 20px;
  }
  .login-nav, .signup-nav, .logout-nav {
    margin-right: 12px;
    font-size: 15px;
  }
  .link-logout {
    font-size: 15px;
  }
}

@media only screen and (min-width: 750px) {
  .app-h1 {
    font-size: 22px;
  }
  .login-nav, .signup-nav, .logout-nav {
    margin-right: 15px;
    font-size: 16.5px;
  }
  .flexBody {
    height: 60px;
  }
  .link-logout {
    font-size: 16.5px;
  }
}

@media only screen and (min-width: 1200px) {
  .app-h1 {
    font-size: 25px;
  }
  .login-nav, .signup-nav, .logout-nav {
    margin-right: 25px;
    font-size: 18px;
  }
  .link-logout {
    font-size: 18px;
    width: 700px;
  }
}

@media only screen and (min-width: 1400px) {
    .div-span{
        color:rgb(232, 178, 3);
        margin-right: 30px;
    }
}