.learning {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

#word {
  padding-top: 30px;
  font-size: 26px;
  color: black;
  border-bottom: 1px solid black;
}

.guess-form {
  padding-top: 25px;
  margin-left: 0px;
  margin-right: 0px;
  height: 230px;
}

#submit-guess-button {
  margin-top: 50px;
}

#word-count1 {
  font-size: 13px;
  margin-top: 20px;
}

#word-count2 {
  font-size: 13px;
  margin-top: 20px;
}

.response {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.response button {
  margin-top: 120px;
}

.response h2 {
  font-size: 20px;
  margin-bottom: 40px;
}

.response p {
  margin-top: 40px;
}

#isCorrect {
  color: rgb(27, 90, 8);
}

#notCorrect {
  color: rgb(143, 8, 8);
}

@media screen and (min-width: 750px) {
  #word-count1 {
    font-size: 15px;
  }
  #word-count2 {
    font-size: 15px;
  }
  #isCorrect {
    font-size: 24px;
  }
  #notCorrect {
    font-size: 24px;
  }
}

@media screen and (min-width: 1200px) {
  #word {
    font-size: 40px;
  }
  #translate-word {
    font-size: 45px;
  }
  #total-score-form {
    margin-top: 80px;
    font-size: 25px;
  }
  #word-count1 {
    font-size: 18px;
    margin-bottom: 0px;
  }
  #word-count2 {
    font-size: 18px;
    margin-bottom: 0px;
  }
  #isCorrect {
    font-size: 40px;
  }
  #notCorrect {
    font-size: 40px;
  }
  #guess-answer {
    margin-top: 70px;
    font-size: 30px;
  }
  .DisplayScore {
    font-size: 25px;
  }
  .response button {
    margin-top: 80px;
  }
  .guess-form {
    height: 160px;
  }
  #submit-guess-button {
    margin-top: 20px;
  }
  .learning-section {
    margin-bottom: 5%;
  }
}

@media screen and (min-width: 1400px) {
  .guess-form {
    height: 250px;
  }
  #submit-guess-button {
    margin-top: 60px;
  }
  .learning-section {
    margin-bottom: 5%;
  }
}